/*// BODY //*/

body {
  background-color: #E5E9EF;
  width: 100%;
  font-family: 'Omnes Regular';
  z-index: 1;
}

/*// CONTAINER //*/

section.container {
  max-width: 1000px;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 20px;
}

/*// HEADER //*/

section.header {
  top: 0;
  margin-top: 40px;
  height: 120px;
}

section.header img {
  width: 140px;
  position: relative;
}

#burger {
  width: 50px;
  margin-top: 35px;
}

#logo {
  float: right;
  width: 120px;
  margin-right: 20px;
}

/*// BANNER //*/

section.banner {
  margin-left: 80px;
  padding-bottom: 40px;
}

section.banner h1 {
  font-size: 42px;
  letter-spacing: 0.1em;
  font-family: 'Omnes Medium';
}

div.nav {
  text-decoration-color: grey;
  text-decoration: none;
  max-width: 400px;
  display: flex;
  margin-left: 0;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
}

div.nav a {
  color: #E5E9EF;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.5px;
}


div.nav a#current {
  border-bottom: 1px solid blue;
  padding-bottom: 5px;
}

div#dropdown-content {
  display: none;
}

.nav-mobile {
  display: none;
}

/*// CARDS //*/

section.card-wrap {
  display: flex;
  flex-wrap: wrap;
}

div.card {
  display: block;
  flex: 1 1 33.3%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: black;
}

div.card img {
  max-width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

div.card-title {
  top: 0;
  position: absolute;
  color: white;
  margin-left: 20px;
  letter-spacing: 0.1em;
  font-family: 'Omnes Light';
  font-size: 1em;
}

/*// MOBILE //*/

@media screen and (max-width: 700px) {

  section.header {
    margin-top: 0;
  }

  section.banner {
    margin-left: 30px;
  }

  section.banner h1 {
    font-size: 30px;
  }

  div.card-title {
    font-size: 0.7em;
  }

}

@media screen and (max-width: 500px) {

  section.card-wrap div {
    flex: 1 1 50.1%;
  }

  div.nav {
    max-width: 300px;
    display: none;
  }

  div.card-title {
    font-size: 1.2em;
  }

  .nav-mobile, .nav-mobile a {
    display: block;
    text-decoration-color: grey;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
  }

}
